.App {
  text-align: center;
}

header {
  background-color: rgba(0, 0, 0, 0, 3);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #88CCFF;
}

a:first-child {
  margin-right: 30px;
}

.active {
  font-size: 20px;
  color: white;
  font-weight: bolder;
}